nav{
    display: flex;
    justify-content: space-between;
    gap: 500px;
    height: 100px;
    background-color: black;
    width: 100%;
}

.links{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}